/** Not allowed to change this initial CSS code **/
body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}
/*************************************************/

/* Grids area */
.container-3 {
  min-height: 900px;
  width: 88vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* 
    Some rules that are required for grid-areas to work:
    1. All rows need to have equal amount of values
    2. Must manage all children inside of container, when using grid-areas
    3. Need declare grid-area in every child, so that it is effected by grid-template-areas
    4. May only create sections with 4 corners, meaning squares and rectangles
    */
  grid-template-areas:
    "header header header header "
    "boxes boxes boxes boxes"
    "section section section sidebar"
    "footer footer footer footer";

  gap: 20px;
  padding: 10px;
}

header {
  background-color: skyblue;
  grid-area: header;
  border: solid 1px #666;
}

aside {
  background-color: beige;
  grid-area: sidebar;
}

footer {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-area: footer;
  display: grid;
  border: solid 1px #666;
  padding: 10px;
}

footer section {
  border: 1px solid #666;
  background-color: rgb(255, 255, 0);
}

main {
  display: grid;
  grid-area: boxes;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 20px;
}

.box {
  background-color: orange;
  border: solid 1px #666;
}

.box-content {
  background-color: pink;
  border: solid 1px #666;
  grid-template-columns: 3fr;
  grid-area: section;
  width: 100%;
}

aside {
  background-color: beige;
  border: solid 1px #666;
  grid-area: sidebar;
  width: 100%;
}

@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-3 {
    grid-template-areas:
    "header header header header "
    "boxes boxes boxes boxes"
    "section section sidebar sidebar"
    "footer footer footer footer";
  }
  
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container-3 {
    grid-template-areas:
    "header header header header "
    "boxes boxes boxes boxes"
    "section section section section"
    "sidebar sidebar sidebar sidebar"
    "footer footer footer footer";
  }
  
  body, main, footer {
    grid-template-columns: 1fr;
  }
  
  .box, header, .box-content, aside {
    height: 10vh;
  }
}